.schedule-cell-collapse {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.schedule-box-collapse {
  margin: 8px;
}

.schedule-title {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  text-align: center;
}

.schedule-tabs {
  margin-bottom: 16px;
}

.schedule-table-container {
  max-height: 400px;
}

.schedule-chart-box {
  width: 100%;
  height: 400px;
}

.schedule-chart-caption {
  margin-bottom: 8px !important;
  display: block !important;
  text-align: center;
}
