.pie-chart-container {
  width: 100%;
  height: 350px;
}

.pie-chart-details {
  @media (max-width: 900px) {
    margin-top: 24px;
  }
}

.pie-chart-legend-text {
  font-weight: bold;
}

.pie-chart-divider {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
